html{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #555;
    scroll-behavior:smooth;
    
  }

  h1, h2, h3, h4, h5, h6{
    font-family: 'Raleway', sans-serif;
  }
  
  .navbar{
    background-color: rgba(166,112,30,.7);
    
  }
  
  hr{
    width: 150px;
    height: 2px;
    background-color: #2196f3;
    border: 0;
    margin: 40px auto;
  }

  #hero{
    background: gray;
    background-repeat: no-repeat;    
    background-image: url('img/agriculture.jpg');
    background-size: cover;
    min-height: 90vh;
    width:100%;
  }

  #heroText{
    padding-top:15vh;
  }
  
  /*.background-image{
  background-repeat:no-repeat;
  background-image: url('img/agriculture.jpg');
  background-size: cover;
  min-height: 90vh;
  width: 100%;
  }*/

  #hero h1 {
    color: rgba(33,150,243,.9);
    text-shadow: 1px 1px #000;
    margin-bottom: 40px;
  }

  #hero h3{
    color:rgb(65,157,232);
    text-shadow: 1px,1px #000;
  }

  .about-img{
    border: 4px solid #2196f3;
    background-color: #2196f3;
  }


  #gallery{
    z-index:0;
  }

  .serv{
    background-clip: content-box;
    background-size: cover;
    background-position: center;
  }

  .img_description{
    z-index:1;
  }

  #teamgallery{
    margin-top:5vh;
  }

  
/*--Footer--*/

#contactBar{
    color:#000;
  }
  
  .teleSocial{
    width:100%;
  }
  
  .contactText{
    font-size:36px;
  }
  
  .emailico{
    max-height: 150px;
  }
  
  .phoneico{
    max-height: 150px;
  }
  
  .fbico{
    max-height: 150px;
  }
  
  footer p{
    text-transform: uppercase;
    font-size: 14px;
    color: rgba(0,0,0, .6);
    margin-bottom: 10px;
  
  }
  
  footer svg{
   fill: rgb(0,88,161);
  }
  
  footer h4{
    color: rgb(0,0,0);
  }
  
  footer ul{
    margin-bottom: 25px;
  }
  
  footer ul li{
    margin: 0 8px;
  }
  
  footer ul li a{
    font-size: 36px;
    cursor: pointer;
  }
  
  
